.maintext{
    font-size: 14pt;
    font-style: normal;
    color: #502479;
    text-decoration:none;
}
.headtext{
    font-size: 24pt;
    font-style: normal;
    color: #241e74;
    text-decoration:none;
}